{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div id="chat-log" style="width:100%;height:500px;border:1px solid;background-color:white;overflow-x:auto;">
                {% for c in last_comments %}
                    <p id="comment-{{ c.id }}">
                        {{ c.user.username }}:
                        {% autoescape off %}
                            <span>{{ c.text }}</span>
                        {% endautoescape %}
                        {% if user.id == c.user.id %}
                            <i class="pointer fa fa-trash" onclick="deleteComment({{ c.id }})"></i>
                            <i class="pointer fa fa-pencil" onclick="updateComment({{ c.id }}, '{{ c.text }}')"></i>
                        {% elif user.is_superuser %}
                            <i class="pointer fa fa-trash" onclick="deleteComment({{ c.id }})"></i>
                        {% endif %}
                    </p>
                {% endfor %}
            </div>
            <input id="chat-message-input" type="text" size="100"/><br/>
            <input id="chat-message-submit" type="button" value="Send"/>
        </div>
    </div>

    <script>
        //region socket
        let roomName = "{{ file_id|escapejs }}";

        let chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/comments/' + roomName + '/');

        chatSocket.onmessage = e => {
            let data = JSON.parse(e.data);
            let message = data['message'];
            let user = data['user'];

            $('#chat-log').append(`<p>${user}: ${message}</p>`);
        };

        chatSocket.onclose = e => {
            console.error('Chat socket closed unexpectedly');
        };

        let messageInput = $('#chat-message-input');
        messageInput.focus();
        messageInput.keyup(e => {
            // enter, return
            e.keyCode === 13 && $('#chat-message-submit').click();
        });

        $('#chat-message-submit').on('click', e => {
            let messageInputDom = $('#chat-message-input');
            let message = messageInputDom.val().trim();
            if (message == '') return;

            chatSocket.send(JSON.stringify({
                'message': message
            }));

            messageInputDom.val('');
        });
        //endregion

        let deleteComment = id => {
            confirm('Are you sure to delete this comment?') && $.ajax({
                type: "POST",
                url: '{% url 'main:delete_comment' id='00000' %}'.replace(/00000/, id),
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: (resp) => {
                    resp.status && $(`#comment-${id}`).remove();
                },
                dataType: 'json'
            });
        };

        let updateComment = (id, text) => {
            let newText = prompt("Update your comment:", text);
            if (newText != null && newText.trim() != "") {
                $.ajax({
                    type: "POST",
                    url: '{% url 'main:update_comment' id='00000' %}'.replace(/00000/, id),
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'text': newText
                    },
                    success: (resp) => {
                        resp.status && $(`#comment-${id} span`).text(newText);
                    },
                    dataType: 'json'
                });
            }
        };
    </script>
{% endblock %}