{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <button class="btn btn-success" role="button">
                <a href="{% url 'main:upload' %}" style="color:white;">
                    New File
                </a>
            </button>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>My Files</p>
            <ul>
                {% for file in my_files %}
                    <li>
                        {{ file.description|truncatechars:10 }} - {{ file.upload_date }}
                        <a href="{% url 'main:download' file.id %}">
                            <i class="fa fa-download"></i>
                        </a>
                        <a href="{% url 'main:share' file.id %}">
                            <i class="fa fa-share"></i>
                        </a>
                        <a href="{% url 'main:comments' file.id %}">
                            <i class="fa fa-comment"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6">
            <p>Shared with me</p>

            <ul>
                {% for s in shared %}
                    <li>
                        {{ s.file.description|truncatechars:10 }} - {{ s.file.upload_date }}
                        <a href="{% url 'main:download' s.file.id %}">
                            <i class="fa fa-download"></i>
                        </a>
                        {% if s.allow_comments %}
                            <a href="{% url 'main:comments' s.file.id %}">
                                <i class="fa fa-comment"></i>
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}