{% extends 'base.html' %}

{% block content %}
    <p class="text-danger">
        {% firstof errors %}
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Share</button>
    </form>
{% endblock %}