{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success" type="submit">Upload</button>
            </form>
        </div>
    </div>
{% endblock %}