{% extends 'base.html' %}

{% block content %}
    <h3>Sign In or <a href="{% url 'accounts:signup' %}">Sign Up</a></h3>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
{% endblock %}