{% extends 'base.html' %}

{% block content %}
    <h3>Sign Up</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up!</button>
    </form>
    <p><a href="{% url 'accounts:login' %}">Already have an account?</a></p>
{% endblock %}